.calculadora{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 3px solid var(--primary-100);
    background-color: var(--bg-200);
}

.calculadora-encabezado h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--primary-100);
}

.calculadora-encabezado p{
    font-size: 0.8rem;
    text-align: justify;
}

.calculadora-form{
    display: flex;
    flex-direction: column;
}

.calculadora-form label{
    font-size: 0.8rem;
    color: var(--accent-100);
    margin-top: 1rem;
    background-color: var(--bg-300);
    padding: 0.5rem;
}

.calculadora-input{
    border: none;
    background-color: var(--bg-300);
    padding: 0.5rem;
    color: var(--accent-100);
    outline: none;
}

.calculadora-form button{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: var(--primary-100);
    border: 3px solid  var(--primary-300);
    border-radius: 10px;
    color: var(--text-100);
    width: 50%;
    align-self: center;
}

.calculadora-respuesta{
    border: none;
    background-color: var(--bg-300);
    padding: 1.9rem;
    color: var(--accent-100);
    margin-top: 1rem;
    outline: none;
}
