@media screen and (min-width: 360px) {
    .banner{
        height: 38rem;
        width: 100%;
        background: url(/assets/imagenes/banner.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .banner h2{
        font-size: 2rem;
        color: var(--text-100);
    }

    .banner button{
        margin-top: 3rem;
        padding: 1.5rem;
        font-size: 1.2rem;
        background-color: var(--primary-100);
        border: 3px solid  var(--primary-300);
        border-radius: 10px;
        color: var(--text-100);
    }
}

@media screen and (min-width: 1300px) {
    .banner{
        justify-content: end;
        padding-bottom: 3rem;
    }
}